<!--suppress XmlUnboundNsPrefix -->
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="all">
            <file>ut/MLoggingTest.php</file>
            <file>ut/LoggableApplicationTest.php</file>
            <file>ut/CoverageBoostTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
